<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<h2>Edit Form</h2>

  <div class="form">
   <form action="/movies/<%= movie.id%>?_method=PUT" method="POST">  <!-- name has to match column in table -->
     <input type="text" name="title" value="<%= movie.title %>">
     <br>
     <input type="text" name="director" value="<%= movie.director %>">
     <br>
     <input type="text" name="release_year" value="<%= movie.release_year %>">
     <br>
     <textarea type="textarea" name="description" rows="8"><%= movie.description %></textarea>
     <br>
     <select name="genre_id">
      <% genres.forEach((genre) => { %>
        <option value="<%= genre.id %>"><%= genre.genre_type %></option>
      <% }) %>
     </select>
     <br>
     <br>
     <input type="submit" value="Edit Movie">
   </form>

   <form action="/movies/<%= movie.id %>?_method=DELETE" method="POST">
     <button type="submit">DELETE MOVIE</button>
   </form>


  <div>
    <a href="/movies">Back to Movies</a>
  </div>


</div>


<% include ../partials/end %>
